body {
  background-color:#F5F5F5;
}

.header
{
  margin-left: 0;
  padding-left: 0;
}


.wrapper { 
margin-left: 100px;
margin-right: 700px;
padding-left:80px;


}

#welcome-to-my-portfolio-page
{
 font-size: large;
 font-family: open sans;
 border-bottom: 1px solid #8b5a5a;
 padding: 8px;
 
}
